<!DOCTYPE html>
<html lang = "es">
	<head>
		<meta charset="UTF-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1">
		<title>Portal web - Airefresco</title>
		<link rel = "shortcut icon" href="supportSources/images/logo.ico" type="image/png" />
		<link rel = "stylesheet" href = "supportSources/css/registro.css">
		<link rel = "stylesheet" href = "supportSources/css/common.css">
	</head>
	<body>
		<div id="paneRegistry">
			<h1>Bienvenido al panel del administrador</h1>
			<form>
				<p>Usuario: </p>
				<input type="text" id="userName"/>
				<p>Nombre de usuario: </p>
				<input type="text" id="userNick"/>
				<p>Contraseña:</p>
				<img id="toggleVisibility" src="supportSources/images/show.png" onclick = "toggleVisiblePass()"/>
				<input type="password" id="userPass"/>
				<p>Identificación: </p>
				<input type="text" id="userId"/>
				<h2 onclick="test()"> ingresar </h2>
			</form>
		</div>
	</body>
	<script type="text/javascript" src="script/public/publicSourcesHandlers.js"> </script>
</html>