<!DOCTYPE html>
<html lang = "es">
	<head>
		<meta charset="UTF-8" />
		<meta name = "viewport" content = "width=device-width, initial-scale=1, maximum-scale=1">
		<title> Portal Web </title>
		<link rel = "shortcut icon" href="supportSources/images/logo.ico" type="image/png" />
		<link rel = "stylesheet" href = "supportSources/css/common.css">
	</head>
	<body onload="loadReady()">
		<div id="rootContent"></div>
		<div id = "loadingLayout">
			<section>
				<img src="supportSources/images/loading.gif"/>
				<h1>Cargando...</h1>
			</section>
		</div>
	</body>
	<script src="script/public/jquery.min.js"></script>
	<script src="script/public/publicSourcesHandlers.js"></script>
</html>