<link rel = "stylesheet" href="supportSources/css/controlBar.css">
<link rel = "stylesheet" href="supportSources/css/clientes.css">
<div id = "controlBar">
	<div class="button" id="addButton">Agregar usuario</div>
	<p>filtrar por</p>
	<select id="filter" class="selector">
		<option value="ADMIN">Rol administrador</option>
		<option value="EMPLOYEE">Rol empleado</option>
		<option value="USER">Rol usuario</option>
	</select>
	<p>Ordenar por</p> 
	<select id="order" class="selector">
		<option value="name">nombre</option>
		<option value="identificacion">identificacion</option>
		<option value="nick">nombre de usuario</option>
	</select>
	<div class="button" id="searchButton">Buscar</div>
    <input type="text" id="searchInp">
</div>
<table id="clientesTable">
	<tr>
		<th class="colNum">
			#
		</th>
		<th class="colName">
			Nombre del cliente
		</th>
		<th class="colNit">
			N.I.T
		</th>
		<th class="colState">
			Estado
		</th>
		<th class="colDetails">
			Detalles
		</th>
	</tr>
</table>