<link rel = "stylesheet" href="supportSources/css/registro.css">
<p id="mesagge">mensage del servidor</p>
<div id="paneRegistry">
	<h1>Ingrese los datos</h1>
	<form>
		<p>Usuario: </p>
		<input type="text" id="userNameInput"/>
		<p>Nombre de usuario: </p>
		<input type="text" id="userNickInput"/>
		<p>Contraseña:</p>
		<img id="toggleVisibility" src="supportSources/images/show.png" onclick = "toggleVisiblePass()"/>
		<input type="password" id="userPassInput"/>
		<p>Confirme la contraseña:</p>
		<input type="password" id="confirmPassInput" oninput="confirmPass()"/>
		<p>Identificación: </p>
		<input type="number" id="userIdInput"/>
		<p>Seleccione los permisos del usuario</p>
		<select id="rolSetter">
			<option value="ADMIN">administrador</option>
			<option value="EMPLOYEE">empleado</option>
			<option value="USER">usuario sin permisos</option>
		</select>
	</form>
	<div>
		<h2 id="submit"> Registrar </h2>
		<h2 id="cancel"> Cancelar </h2>
	</div>
</div>
